<div class="container">
    <div class="row justify-content-center">
        <div class="col-8">
            <h1 class="graphic-title"><%= gettext('The title for a graphic')%></h1>
            <p class="graphic-subhead"><%= gettext('The subhead for the graphic The subhead for the graphic The subhead for the graphic The subhead for the graphic The subhead for the graphic The subhead for the graphic')%> </p>

			<img class="img-fluid" src="images/pic.png">
			<small class="text-muted d-block">This is the cpation for the photo, who is this guy, what is he trying to tell you?  why are his hands so big? M Weberman/REUTERS</small>			
        </div>
    </div>
	
    <div class="row justify-content-center">
        <div class="col-sm-8">
			<hr class="mt-1">    
			<div class="text-label mb-2 mt-1">President Trumps speech to some people</div>
            <div id="reutersGraphic-chart1" class="reuters-chart"></div>
        </div>


    </div>
        
    <div class="row justify-content-center">            
        <div class="col-8 mt-1">
            <p class="graphic-source"><%= gettext('Sources: XXXXX YYYYY')%><br /><%= gettext('By First Name Last Name | REUTERS GRAPHICS')%></p>
        </div>
    </div>
</div>
